<h3><%= @store.name %></h3>

<div class="row">
  <div class="col-sm-6">
    <form class="" action="/store/<%= @store.id %>/updated" method="post">
      <div class="form-group">
        <input type="hidden" name="_method" value="patch">
        <label>edit store name</label><br>
        <input type="text" name="store_name">
        <button type="submit">Update</button>
      </div>
    </form>
    <form action="/store/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete Store</button>
    </form>
  </div>

  <div class="col-sm-6">
    <% if @store.brands.any? %>
      <label>Brands sold at <%= @store.name %></label>
      <ul>
        <% @store.brands.each do |brand| %>
          <li><strong><%= brand.name %></strong> <em><%= brand.to_currency(brand.price)%></em></li>
        <% end %>
      </ul>
      <p><strong>Click <a href="/store/<%= @store.id %>/add_brands">here</a> to add more brands</strong></p>
    <% else %>
      <p><em>there are no shoe brands added to this store</em></p>
      <p><strong>Click <a href="/store/<%= @store.id %>/add_brands">here</a> to add brands</strong></p>
    <% end %>
  </div>
</div>
